/* Raiz */
.root-modal {
    -fx-background-color: #E5FFFD;
    -fx-background-radius: 20;
}

/* Card */
.card-avaliacao {
    -fx-background-color: E5FFFD;
    -fx-padding: 30 20 30 20;
}
 /* botão voltar */
.botao-voltar {
    -fx-font-size: 32px;
    -fx-text-fill: #306BB3;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 5 10;
}

/* Títulos */
.titulo-finalizada {
    -fx-text-fill: #52B371;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.titulo-avaliacao {
    -fx-text-fill: #306BB3;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

/* Retângulos */
.fundo-azul-medio { -fx-fill: #306BB3; }
.fundo-azul-escuro { -fx-fill: #0F3B71; }

/* TextArea */
.texto-comentario-label {
    -fx-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-area-comentario {
    -fx-control-inner-background: #0F3B71;
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

/* Botão enviado */
#btnEnviar {
    -fx-background-color: #8C857E;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: semi-bold;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

/* Estrela base */
.estrela {
    -fx-font-size: 45px;
    -fx-text-fill: #0E407C;
    -fx-opacity: 0.3;
    -fx-cursor: hand;
}

/* Hover */
.estrela:hover {
    -fx-font-size: 45px;
    -fx-opacity: 0.6;
}

/* Quando selecionada */
.estrela-selecionada {
    -fx-font-size: 45px;
    -fx-opacity: 1;
    -fx-text-fill: #FFDF00;
}
